.blue_box {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
    width: 150px;
    height: 100px;
    float: right;
}

.red_box {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
    width: 20px;
    height: 20px;
    float: right;
}

.Sup
{color:green; font-size:55px;
margin:1.5px;
padding: 0.5px;
float: right;
}

.Colors
{color:rgb(90%, 90%, 90%);
font-size:50;
}

.rgb
{color:100%, 0%, 0%;
font-size:100px;
float:bottom;}
